@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Please Check Your Inbox</p>
        <p><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Go To Your Inbox</a></p>  @* General Link for the Inbox Page of the Account Trying to Log in *@
    </div>
</div>

