@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center align-content-center mt-3">
	<h1 class="col-8 my-4">Are You Sure You Want To Delete @Model.RoleName Role ?</h1>
	<form method="post" asp-controller="Roles" asp-action="Remove" class="row col-8" enctype="multipart/form-data">

		<partial name="PartialViews/_DetailsAndDeletePartialView" />

		<div class="mt-4 m-auto">
			<input class="btn btn-danger" type="submit" value="Delete" />
			<a asp-controller="Roles" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
		</div>
	</form>
</div>
