@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>

    <form class="col-8" method="post" asp-controller="Departments" asp-action="Create">  <!--By Default,The Whole Page is Divided into 12 Columns-->

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="PartialViews/_CreateEditPartialView" />


        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-outline-dark" asp-controller="Departments" asp-action="Index">Back to list</a>
        </div>
    </form>
</div>

@section ValidationScripts
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
